<h1>Flickr API Photoviewer</h1>

<form method='get' action='/' accept-charset="UTF-8">
  <label for="id">Flickr ID?</label>
  <input type='text' name='id' required >
  
  <input type="submit" value='Submit'>
</form>