<h1>Flickr API Photoviewer</h1>

<%= form_with(url: "/", method: 'get') do %>
    Enter Flickr ID: <%= text_field_tag :user_id %>
    <%= submit_tag 'Search-up Pics!' %> <br> <br>
<% end %>

<% unless params[:user_id].nil? %>
  <% @photos.each do |p| %>
      <img src="<%= Flickr.url_n(p) %>"/>
  <% end %>
<% end %>